# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
/usr/local/lib/node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# cache
.cache/

# build
dist/
build/

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Mobile/Capacitor
/android/app/build/
/android/app/release/
/android/.gradle/
/android/local.properties
/android/captures/
/android/app/google-services.json

# Database
db.json
